.header-container{
    display: flex;
    align-items: center;
    padding: 2rem 0 1.5rem 1rem;
    gap: 1rem;
}

.header-container__perfil img {
    width: 3.56rem;
    height: 3.56rem;
    border-radius: 100%;
}

.header-container__titulo {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--cor-fonte-primaria);
    margin-bottom: 0.5em;
}

.header-container__subtitulo {
    font-weight: 400;
    color: var(--cor-fonte-secundaria);
}